@page "/"
<PageTitle>Home</PageTitle>

<div class="w-full h-full bg-background">

    <section class="text-textColor py-32">
        <div class="w-full h-auto mx-auto flex flex-col md:flex-row items-start justify-center gap-12">

            <div class="flex-1">
                <img src="example.png" alt="Logo" class="h-auto max-h-[100rem] w-auto" />
            </div>

            <div class="flex-1 text-left">

                <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4 justify-start">
                    GamesBoxd
                </h1>
                <p class="text-base sm:text-lg md:text-xl lg:text-2xl mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper lacus vel leo luctus
                    ullamcorper. Nam semper vel orci id laoreet. Praesent porta, lacus interdum porta facilisis, elit
                    mauris convallis quam, sit amet viverra elit felis mollis ipsum. Cras a arcu justo. Proin quis nibh
                    at massa blandit ultricies vitae vel tortor. Ut eu ex non lectus ornare tempor quis id elit. Integer
                    vel cursus ipsum, sit amet iaculis ligula.
                </p>

                <div class="flex flex-row gap-10">
                    <a href="auth">
                        <h2 class="bg-highlight hover:bg-textColor hover:scale-110 font-bold text-textColor hover:text-highlight
                             text-lg sm:text-xl md:text-2xl lg:text-3xl py-3 px-6 rounded-lg transition duration-300">
                            Entrar</h2>
                    </a>
                    <a href="/Account/Register">
                        <h2 class="bg-secondary hover:bg-black hover:scale-110 font-bold text-black hover:text-secondary
                             text-lg sm:text-xl md:text-2xl lg:text-3xl py-3 px-6 rounded-lg transition duration-300">
                            Criar Conta</h2>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-900 flex w-full h-auto py-32 text-textColor">

        <div class="flex flex-col items-center justify-center w-full h-auto mx-auto">

            <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Jogos em
                alta🔥</h2>


            <div class="flex flex-col md:flex-row gap-4 mt-10 justify-center items-center">

                <div class="w-auto h-auto">
                    <img src="fallout.svg" alt="Logo" class="h-auto w-auto" />
                </div>

                <div class="w-auto h-auto">
                    <img src="fallout.svg" alt="Logo" class="h-auto w-auto" />
                </div>

                <div class="w-auto h-auto">
                    <img src="fallout.svg" alt="Logo" class="h-auto w-auto" />
                </div>


            </div>


            <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mt-28">Reviews em alta🔥
            </h2>


            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-10 justify-items-center">


                <div class="flex flex-col bg-gray-950 w-auto max-w-[90%] h-auto p-6 rounded-lg">

                    <div class="flex flex-row justify-between items-center mb-2">
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">Author</h4>
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">10</h4>
                    </div>

                    <p class="text-sm sm:text-base md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent pellentesque ac urna quis venenatis. Vestibulum eleifend justo ut
                        convallis bibendum. Suspendisse aliquam consequat tellus eget iaculis. Nunc facilisis lacus
                        neque. Maecenas tempus ipsum vitae ullamcorper sodales. Etiam vitae dignissim ante.</p>

                    <div class="flex flex-row gap-10">

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="like.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="comment.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="flex flex-col bg-gray-950 w-auto max-w-[90%] h-auto p-6 rounded-lg">

                    <div class="flex flex-row justify-between items-center mb-2">
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">Author</h4>
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">10</h4>
                    </div>

                    <p class="text-sm sm:text-base md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent pellentesque ac urna quis venenatis. Vestibulum eleifend justo ut
                        convallis bibendum. Suspendisse aliquam consequat tellus eget iaculis. Nunc facilisis lacus
                        neque. Maecenas tempus ipsum vitae ullamcorper sodales. Etiam vitae dignissim ante.</p>

                    <div class="flex flex-row gap-10">

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="like.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="comment.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="flex flex-col bg-gray-950 w-auto max-w-[90%] h-auto p-6 rounded-lg">

                    <div class="flex flex-row justify-between items-center mb-2">
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">Author</h4>
                        <h4 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold">10</h4>
                    </div>

                    <p class="text-sm sm:text-base md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent pellentesque ac urna quis venenatis. Vestibulum eleifend justo ut
                        convallis bibendum. Suspendisse aliquam consequat tellus eget iaculis. Nunc facilisis lacus
                        neque. Maecenas tempus ipsum vitae ullamcorper sodales. Etiam vitae dignissim ante.</p>

                    <div class="flex flex-row gap-10">

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="like.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>

                        <div class="flex flex-row h-auto w-auto justify-center items-center gap-2 mt-4">
                            <div class="flex items-center justify-center h-full">
                                <img src="comment.svg" class="h-10 w-auto object-contain" alt="Likes" />
                            </div>

                            <div class="flex items-center h-full">
                                <h5
                                    class="text-highlight text-xs sm:text-sm md:text-base lg:text-lg leading-none font-semibold">
                                    00
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>


            </div>



        </div>


    </section>


    @* <section class="h-auto w-full text-textColor py-32 mx-auto">

        <div class="flex flex-col items-center justify-center">

            <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Como funciona?
            </h2>

            <div class="text-left self-start">

                <div class="flex flex-row gap-6 mt-10">
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        1.
                    </h3>
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        Faça sua conta
                    </h3>
                </div>

                <div class="flex flex-row gap-6">
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        2.
                    </h3>
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        Adicione os jogos que já jogou
                    </h3>
                </div>

                <div class="flex flex-row gap-6">
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        3.
                    </h3>
                    <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                        Avalie, escreva reviews e descubra novos jogos
                    </h3>
                </div>

            </div>

        </div>



        <div class="flex flex-col items-center justify-center mt-28">

            <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Para quem é o GamesBoxd?
            </h2>

            <div class="text-left self-start mt-10">

                <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                    🎮 Para gamers que gostam de organizar tudo que já jogaram </h3>


                <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                    ✍️ Para quem curte escrever opiniões sobre jogos </h3>

                <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold mt-10">
                    🤝 Para quem quer descobrir novos jogos através da comunidade
                </h3>

            </div>

        </div>

    </section> *@


    <section class="h-auto w-full text-textColor py-32 mx-auto">
        <div class="flex flex-col items-center justify-center">

            <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Sobre
            </h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 justify-items-center">

                <div class="flex flex-col bg-gray-950 w-full h-auto p-6 rounded-lg mt-10 shadow-lg shadow-primary
                     transition hover:scale-[1.02] hover:shadow-xl duration-300">

                    <h3 class="text-highlight text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-center">
                        Como usar?
                    </h3>

                    <div class="flex flex-row gap-6 mt-14">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            1.
                        </h3>
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            Faça sua conta
                        </h3>
                    </div>

                    <div class="flex flex-row gap-6 mt-8">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            2.
                        </h3>
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            Adicione os jogos que já jogou
                        </h3>
                    </div>

                    <div class="flex flex-row gap-6 mt-8">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            3.
                        </h3>
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            Avalie, escreva reviews e descubra novos jogos
                        </h3>
                    </div>

                </div>


                <div class="flex flex-col bg-gray-950 w-full h-auto p-6 rounded-lg mt-10 shadow-lg shadow-primary
                     transition hover:scale-[1.02] hover:shadow-xl duration-300">

                    <h3 class="text-highlight text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-center">
                        Para quem é o GamesBoxd?
                    </h3>

                    <div class="flex flex-row gap-6 mt-14">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            🎮 Para gamers que gostam de organizar tudo que já jogaram
                        </h3>
                    </div>

                    <div class="flex flex-row gap-6 mt-8">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            ✍️ Para quem curte escrever opiniões sobre jogos
                        </h3>
                    </div>

                    <div class="flex flex-row gap-6 mt-8">
                        <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                            🤝 Para quem quer descobrir novos jogos através da comunidade
                        </h3>
                    </div>



                </div>



            </div>

        </div>

    </section>




</div>
