@* @implements IDisposable *@

@inject NavigationManager NavigationManager

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GamesBoxd</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
} *@

<div class="w-full h-18 bg-menuBackground text-textColor flex flex-row justify-between items-center px-4">

    <NavLink href="" class="px-4 py-2">
        <img src="GamesBoxd.png" alt="Logo" class="h-20 w-auto" />
    </NavLink>

    <button id="menuButton" class="block sm:hidden hover:bg-darkVS-MenuTopHover hover:rounded-md"
        aria-controls="menuHamburguer" aria-expanded="false">
        <img class="h-6 w-auto px-2" src="hamburger.svg" alt="hamburguer">
    </button>

    <div class="hidden sm:flex sm:flex-row gap-16 items-center">

        <NavLink href="auth" class="group relative inline-block px-0 py-2">
            <h2 class="text-textColor font-bold text-base relative uppercase z-10">
                Criar conta</h2>

            <span
                class="absolute left-0 bottom-0 w-0 h-[4px] bg-highlight transition-all duration-300 group-hover:w-full">
            </span>
        </NavLink>

        <NavLink href="auth" class="group relative inline-block px-0 py-2">
            <h2 class="text-textColor font-bold text-base relative uppercase z-10">
                Jogos</h2>

            <span
                class="absolute left-0 bottom-0 w-0 h-[4px] bg-highlight transition-all duration-300 group-hover:w-full">
            </span>
        </NavLink>

        <NavLink href="auth" class="group relative inline-block px-0 py-2">
            <h2 class="text-textColor font-bold text-base relative uppercase z-10">
                Listas</h2>

            <span
                class="absolute left-0 bottom-0 w-0 h-[4px] bg-highlight transition-all duration-300 group-hover:w-full">
            </span>
        </NavLink>

        <NavLink href="auth">
            <h2 class="text-textColor bg-highlight rounded-lg hover:bg-textColor hover:text-highlight
                 font-bold text-base uppercase px-10 py-2 transition duration-300">
                Entrar
            </h2>
        </NavLink>

    </div>

</div>
